.first{
    width: 50%;
    padding: 2rem;
  }
  .second{
    width: 50%;
    height: 100%;
    padding: 3rem;
  }
  .main{
    padding:0 3rem;
    width: 100%;
    background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
     
  }
  .getai-btn{
    background:linear-gradient(111deg, #F85D7F 0%, #6B81FA 100%);
    border-radius: 5rem
  }
  .product-heading{
    text-align:center;
    color: white;
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-size:50px
  }
  .product-heading span{
    background-image: linear-gradient(111deg, #5238FF 0%, #A0FBCD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
  .separator-line{
        height: 1px;
        width: 100%;
        background: white;
  }
  .loading-sign{
    color:#F85D7F
  }
 
 

  @media only screen and (width <= 768px){
    .main{
      padding: 0px 1rem;
    }
    .flexwala{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .flexwala .first{
      width: 100%;
    }
    .flexwala .second{
      width: 70%;
    }
  }
  